.container {
  width: 1166px;
  margin: 0 auto;
  padding-left: 137px;
  padding-right: $desktop-scrollbar-padding;

  @media (min-width: $desktop-width) and (max-width: $desktop-width-only) {
    width: 81%;
    padding-left: 9.5%;
    padding-right: 9.5%;
  }

  @media (min-width: $tablet-width) and (max-width: $tablet-width-only) {
    width: 91vw;
    padding-left: 4.5vw;
    padding-right: $tablet-scrollbar-padding;
  }

  @media (max-width: $mobile-width-only) {
    width: 90vw;
    padding-left: 2.04vw;
    padding-right: $mobile-scrollbar-padding;
  }
}
