.page-footer__location
  margin-left: 105px

.page-footer__map-interactive
  min-height: 530px
  width: 100%

.page-footer__map-interactive iframe
  min-height: 530px
  width: 957px

.page-footer__map-interactive--invisible
  display: none

.page-footer__location h2
  margin: 0
  margin-bottom: 30px
  padding-left: 360px
  @include fstyle(30px, 30px, $very-dark-black, 600)
  letter-spacing: -0.15px

.page-footer__location p
  width: 555px
  margin: 0px
  margin-bottom: 42px
  padding-left: 201px
  @include fstyle(17px, 31px, rgba($black, 0.7))
  text-align: center

.page-footer__map-wrapper
  width: 957px
  min-height: 530px

.page-footer__map-wrapper--invisible
  display: none

.page-footer__map-wrapper img
  width: 100%
