.page-footer__location {
  margin-left: 105px;

  @media (max-width: $tablet-width-only) {
    margin-left: 0;
  }
}

.page-footer__location iframe {
  min-height: 530px;
  width: 958px;

  @media (max-width: $tablet-width-only) {
    width: 90.8vw;
    min-height: 545px;
  }

  @media (max-width: $mobile-width-only) {
    width: 100vw;
    min-height: 250px;
    margin-left: -4.6vw;
  }
}

.page-footer__map-interactive--invisible,
.page-footer__map-wrapper--invisible {
  display: none;
}

.page-footer__location h2 {
  width: 226px;
  margin: 0;
  margin-bottom: 30px;
  padding-left: 365px;
  letter-spacing: -0.15px;

  @include fstyle(30px, 30px, $very-dark-black, 600);

  @media (max-width: $tablet-width-only) {
    width: 23.5vw;
    margin-bottom: 20px;
    padding-left: 34vw;
    letter-spacing: -0.12px;
    text-align: center;

    @include fstyle(24px, 30px, $very-dark-black, 600);
  }

  @media (max-width: $mobile-width-only) {
    width: 42.5vw;
    margin-bottom: 20px;
    padding-left: 24vw;
    letter-spacing: -0.1px;

    @include fstyle(18px, 30px, $very-dark-black, 600);
  }
}

.page-footer__location p {
  width: 555px;
  margin: 0;
  margin-bottom: 42px;
  padding-left: 201px;
  text-align: center;

  @include fstyle(17px, 31px, rgba($black, 0.7));

  @media (max-width: $tablet-width-only) {
    width: 82vw;
    margin-bottom: 20px;
    padding-left: 4.5vw;
  }

  @media (max-width: $mobile-width-only) {
    width: 83vw;
    margin-bottom: 25px;
    padding-left: 3vw;
  }
}

.page-footer__map-wrapper {
  width: 957px;
  min-height: 530px;

  @media (max-width: $tablet-width-only) {
    width: 698px;
    min-height: 545px;
    margin: 0 auto;
  }

  @media (max-width: $mobile-width-only) {
    width: 320px;
    min-height: 250px;
  }
}

.page-footer__map-wrapper img {
  height: 530px;
  width: 100%;

  @media (max-width: $tablet-width-only) {
    height: 545px;
  }

  @media (max-width: $mobile-width-only) {
    height: 250px;
  }
}
