.page-header__logo {
  position: absolute;
  top: 319px;
  left: 19.7%;
  width: 67.6px;
  height: 20.2px;

  @media (max-width: $desktop-width-only) {
    left: 17.4%;
  }

  @media (max-width: $tablet-width-only) {
    top: 25px;
    left: 22px;
  }

  @media (max-width: $mobile-width-only) {
    left: 17px;
  }
}

.page-header__logo--nojs {
  @media (max-width: $tablet-width-only) {
    top: 593px;
  }
}

.page-header {
  margin-bottom: 151px;

  @media (max-width: $tablet-width-only) {
    margin-bottom: 70px;
  }
}

.page-header__info {
  width: 393px;
  min-height: 267px;
  margin-left: 143px;
  margin-right: 160px;
  margin-top: 150px;
  overflow: hidden;

  @media (max-width: $desktop-width-only) {
    width: 33.7%;
    min-width: 26.07%;
    margin-left: 12.2%;
    margin-right: 13.7%;
  }

  @media (max-width: $tablet-width-only) {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 126px;
    width: 68vw;
    margin: 0 auto;
    margin-top: 102px;
    margin-bottom: 150px;
    overflow: visible;
  }

  @media (max-width: $mobile-width-only) {
    min-height: 200px;
    width: 90vw;
    margin: 0;
    margin-bottom: 140px;
    margin-top: 120px;
  }
}

.page-header__info--nojs {
  @media (max-width: $tablet-width-only) {
    margin-top: 678px;
  }
}

.page-header h2 {
  margin: 0;
  margin-bottom: 24px;
  letter-spacing: -0.2px;

  @include fstyle(46px, 64px, $white, 700);

  @media (max-width: $tablet-width-only) {
    width: 525px;
    margin-top: 0;
    margin-bottom: 20px;
    letter-spacing: -0.15px;
    text-align: center;

    @include fstyle(30px, 42px, $white, 700);
  }

  @media (max-width: $mobile-width-only) {
    width: 90vw;
    margin-bottom: 20px;
  }
}

.page-header p {
  margin: 0;
  letter-spacing: -0.1px;

  @include fstyle(20px, 32px, rgba($white, 0.8), 300);

  @media (max-width: $tablet-width-only) {
    width: 56.6vw;
    text-align: center;
    letter-spacing: -0.1px;

    @include fstyle(18px, 32px, rgba($white, 0.8), 300);
  }

  @media (max-width: $mobile-width-only) {
    height: 96px;
    width: 90vw;
    margin-left: 0;
  }
}

.page-header__wrapper {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  min-height: 825px;

  @media (max-width: $tablet-width-only) {
    flex-direction: column;
    min-height: 683px;
  }

  @media (max-width: $mobile-width-only) {
    position: static;
    min-height: 750px;
  }
}

.page-header__form {
  width: 327px;
  min-height: 263px;
  margin-top: 103px;
  overflow: hidden;

  @media (max-width: $desktop-width-only) {
    min-width: 253px;
    width: 28.04%;
  }

  @media (max-width: $tablet-width-only) {
    width: 42vw;
    margin-left: 24.5vw;
    margin-top: 0;
    overflow: visible;
  }

  @media (max-width: $mobile-width-only) {
    width: 90vw;
    margin: 0;
  }
}

.page-header__form p {
  margin-bottom: 20px;
  text-align: center;
  letter-spacing: -0.1px;

  @include fstyle(17px, 28px, $white, 600);

  @media (max-width: $tablet-width-only) {
    width: 42vw;
    text-align: center;
    margin: 0;
    margin-bottom: 31px;

    @include fstyle(18px, 28px, $black, 600);
  }

  @media (max-width: $mobile-width-only) {
    width: 90vw;
    margin-bottom: 9px;
  }
}

.page-header__form form {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.page-header__form input {
  padding-left: 29px;
  padding-top: 19px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  border-radius: 6px;
  border: 1px solid $light-grey;
  letter-spacing: 0.1px;

  &:focus-visible {
    outline-offset: 1px;
  }

  &:last-child {
    margin-bottom: 0;
  }

  &::placeholder {
    @include fstyle(15px, 24px, $darkest-black);
  }

  @media (max-width: $desktop-width-only) {
    padding-left: 8.8%;
  }

  @media (max-width: $tablet-width-only) {
    margin-bottom: 22px;
    padding-left: 22px;
    padding-top: 17px;
  }

  @media (max-width: $mobile-width-only) {
    width: 81.8vw;
    margin-bottom: 20px;
    padding-left: 25px;
    padding-top: 17px;
  }
}

.page-header__form input::-moz-placeholder {
  @include fstyle(15px, 24px, $darkest-black);
}

.page-header__form input[type="tel"] {
  letter-spacing: 0.3px;
  padding-top: 18px;

  @media (max-width: $desktop-width-only) {
    padding-left: 8.8%;
  }

  @media (max-width: $tablet-width-only) {
    padding-top: 17px;
    padding-left: 22px;
  }

  @media (max-width: $mobile-width-only) {
    padding-left: 25px;
  }
}

.page-header__form input[type="submit"] {
  padding-left: 46px;
  padding-right: 48px;
  padding-top: 16px;
  padding-bottom: 14px;
  background: $light-blue;
  border: none;
  cursor: pointer;

  @include fstyle(15px, 21px, $black, 600);

  @media (max-width: $desktop-width-only) {
    padding-left: 4%;
    padding-right: 0;
  }

  @media (max-width: $tablet-width-only) {
    padding-top: 15px;
    padding-left: 1px;
  }

  @media (max-width: $mobile-width-only) {
    width: 90vw;
    padding-left: 32px;
  }
}

@-moz-document url-prefix("") {
  .page-header__form input {
    padding-top: 14px;
    padding-bottom: 16px;

    &::-moz-placeholder {
      line-height: 16px;
      opacity: 1;
    }

    @media (max-width: $tablet-width-only) {
      padding-left: 22px;
      padding-top: 12px;
    }

    @media (max-width: $mobile-width-only) {
      padding-left: 25px;
      padding-top: 12px;
    }
  }

  .page-header__form input[type="tel"] {
    padding-top: 12px;
  }
}

@media not all and (min-resolution: 0.001dpcm) {
  @supports (-webkit-appearance:none) {
    .page-header__form input {
      line-height: 20px;
      padding-top: 14px;
      padding-bottom: 14px;

      &::-moz-placeholder {
        opacity: 1;
      }

      @media (max-width: $tablet-width-only) {
        padding-left: 22px;
        padding-top: 12px;
      }

      @media (max-width: $mobile-width-only) {
        padding-left: 25px;
        padding-top: 12px;
      }
    }

    .page-header__form input[type="tel"] {
      padding-top: 14px;
    }
  }
}
