body {
  &::before {
    content: "";
    position: absolute;
    top: 0;
    width: $desktop-background-width;
    min-height: 825px;
    background-image: url("../img/promo-desktop.png");
    background-repeat: no-repeat;
    background-position: center top;
    background-color: $also-dark-color;
    z-index: -1;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/promo-desktop@2x.png");
      background-size: 100% auto;
    }

    @media (max-width: $tablet-width-only) {
      min-height: 340px;
      background-image: url("../img/promo-tablet.png");

      @media (min-resolution: 2dppx) {
        background-image: url("../img/promo-tablet@2x.png");
      }
    }

    @media (max-width: $mobile-width-only) {
      min-height: 390px;
      background-image: url("../img/promo-mobile.png");

      @media (min-resolution: 2dppx) {
        background-image: url("../img/promo-mobile@2x.png");
      }
    }
  }
}
