.page-header__logo
  display: none
  @media (min-width: $mobile-width) and (max-width: $tablet-width-only)
    display: inline-block
    width: 67.6px
    height: 20.2px
    vertical-align: middle
    background-image: url(".././img/logo.svg")
