/*Colors*/
$dark-color: #141517;
$darkest-black: #1c1c1c;
$darker-black-color: #48494d;
$very-dark-black: #1f1f1f;
$darker-grey: #f6f7f9;
$white: #ffffff;
$black: #000000;
$light-blue: #0ad9c6;
$light-grey: #c9ccd4;
$dark-black: #131314;
$another-type-of-black: #070707;
$also-dark-color: #1b1b1b;
$lightest-grey: #2c2e3f;

$mobile-width: 320px;
$mobile-width-only: 767px;
$tablet-width: 768px;
$tablet-width-only: 1023px;

$map-min-width: calc(335px - (100vw - 100%));
$min-width: calc(320px - (100vw - 100%));
$desktop-scrollbar-padding: calc(137px - (100vw - 100%));
$tablet-scrollbar-padding: calc(4.5vw - (100vw - 100%));
$mobile-scrollbar-padding: calc(2.04vw - (100vw - 100%));
$desktop-background-width: calc(100vw - (100vw - 100%));
$mobile-video-left: calc(50vw - (100vw - 100%) / 2);
